form{
    background-color: grey;
    width: 300px;
    padding: 20px;
    border: 3px solid black;
}
form input, form select{
    margin-bottom: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
}
#mezczyzna,#kobieta{
    float: left;
}
form input[type="text"],form input[type="number"],form input[type="email"],form select{
    height: 30px;
    width: 200px;
}
form input, form select, form textarea{
    border: 1px solid black;
}
form input[type="checkbox"] {
	float: left;
}
form input[type="submit"]{
    float: left;
    width: 50px;
}
